<?php

declare(strict_types=1);

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->append([__FILE__])
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PHP80Migration' => true,
        '@PHP80Migration:risky' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'binary_operator_spaces' => [
            'operators' => [
                '|' => 'no_space',
            ],
        ],
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder)
;
